body {
  font-family: sans-serif; }

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box; }

.main {
  display: flex;
  margin-top: 20px; }

#main_menu {
  margin-top: -20px; }

#content {
  box-sizing: border-box;
  margin-left: 10px;
  flex: 1; }

.content-nav {
  color: grey; }
  .content-nav a {
    color: grey;
    cursor: pointer;
    text-decoration: none; }
    .content-nav a:hover {
      color: red; }

h1 {
  border-left: 20px solid #83d0f2;
  padding-left: 20px; }

header {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  height: 50px;
  /*justify-content: center;*/
  align-items: center; }

#my1 {
  z-index: 0 !important;
  background-color: #333; }
  #my1 li {
    background-color: #333; }

.menu {
  width: 230px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #222;
  padding: 5px;
  z-index: 1; }
  .menu li {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: #222;
    margin: 5px;
    position: relative; }
    .menu li a {
      display: block;
      padding: 5px;
      text-decoration: none;
      width: 230px;
      box-sizing: border-box;
      cursor: pointer;
      color: #83d0f2;
      font-weight: bold;
      font-size: 1.2rem;
      word-wrap: break-word; }
    .menu li > .menu {
      display: none;
      right: 10px;
      position: absolute;
      top: 0px;
      left: 230px;
      box-sizing: border-box; }
    .menu li:hover {
      background-color: azure; }
      .menu li:hover > a {
        color: red; }
      .menu li:hover > .menu {
        display: flex; }

.submenu {
  display: flex;
  width: 100%; }
  .submenu-item {
    box-sizing: border-box;
    color: #83d0f2;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    display: block;
    border: 1px solid #83d0f2;
    border-radius: 3px; }
    .submenu-item:hover {
      color: red;
      border-color: red; }
    .submenu-item.active {
      color: #222;
      border-color: #222;
      cursor: default; }
      .submenu-item.active:hover {
        color: #222;
        border-color: #222; }

.galleryWrapper__screen {
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 100;
  display: block;
  text-align: center; }

.galleryWrapper__image {
  max-height: 80%;
  max-width: 80%;
  z-index: 101;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; }

.galleryPreload__image {
  display: none; }

.galleryWrapper__close {
  z-index: 101;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  cursor: pointer; }

.galleryWrapper__right {
  z-index: 101;
  position: absolute;
  top: 50%;
  height: 50px;
  margin-top: -25px;
  right: 10px;
  cursor: pointer; }

.galleryWrapper__left {
  z-index: 101;
  position: absolute;
  top: 50%;
  height: 50px;
  margin-top: -25px;
  left: 10px;
  cursor: pointer; }

.field {
  display: flex;
  flex-direction: column; }

/*# sourceMappingURL=main.css.map */
